<div id="pins" class="transitions-enabled">
<% @pins.each do |pin| %>
     <div class="box panel panel-primary">
     
        <div class="panel-header" align="center">
        <%= pin.user.email if pin.user %>
        </div> <div class="panel-body" align="center">
        <%= pin.description %>
        <%= image_tag pin.image.url(:thumb) %>
        <%= link_to 'Show', pin_path(pin), class: "btn btn-primary btn-sm" %>
        <% if pin.user == current_user %>
        <%= link_to 'Edit', edit_pin_path(pin), class: "btn btn-primary btn-sm" %>
        <%= link_to 'delete', pin, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-primary btn-sm" %>
        <% end %>
    </div>
     </div> 
    <% end %> 
</div>

