<%= render 'pages/home' unless user_signed_in? %>

<div id="pins" class="transitions-enabled">
<% @pins.each do |pin| %>
     <div class="box panel panel-primary">
     <div class="panel-header" align="center">
        <%= link_to image_tag(pin.image.url(:medium)), pin %>
           
        </div> 
        <div class="panel-body" align="left">
               <strong>"<%= pin.description %>"</strong>

        <div>
        <h6>-<%= pin.user.name if pin.user %></h6></div>  
        <% if pin.user == current_user %>
        <%= link_to edit_pin_path(pin) do %>
            <span class="glyphicon glyphicon-edit"></span>Edit        
        <% end %>
         |
        <%= link_to pin, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <span class="glyphicon glyphicon-trash"></span> Delete
        <% end %>
        <% end %>
    </div>
     </div> 
    <% end %> 
</div>

<div class="center">
<%= will_paginate @posts, renderer: BootstrapPagination::Rails %>
</div>