<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.4";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

<div class="row">
	<div align="center">
		<div class="panel panel-primary">
			<div class="panel-heading" align="center">
				 
<%= image_tag @pin.image.url(:medium) %>
</div>
			<div class="panel-body">

<p align="center">
  <strong>"<%= @pin.description %>"</strong>
</p>
<p>
	-<%= @pin.user.name %>
</p>
<div class="fb-comments" data-href="http://www.taylorgrohs.herokuapp.com" data-numposts="5"></div>

<!--<% if @pin.user == current_user %>
<%= link_to edit_pin_path(@pin),  class: "btn btn-primary" do %> 
<span class="glyphicon glyphicon-edit"></span>Edit
<% end %>
 |
<% end %>
 <%= link_to pins_path, class: "btn btn-primary" do %>
 <span class="glyphicon glyphicon-arrow-left"></span> Back
 <% end %>
</div>
</div>
</div>
</div>
<div id="comments">
<% @pin.comments.each do |comment| %>
    <div class="comment">
        <%= comment.commenter %> - <b>"<%= comment.body %>"</b>
       <span class='actions'> 
        <%= link_to 'Delete', [@pin, comment], :confirm => 'Are 
you sure?', :method => :delete %> 
     
    </div>
<% end %>
<h2>Add a comment</h2>
<%= form_for ([@pin, @pin.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :commenter %><br />
		<%= f.text_area :commenter %>
	</div>
	<div class="field">
		<%= f.label :body %><br />
		<%= f.text_area :body %>
		
		
	</div> 
	<div class="action">
		<%= f.submit %>
	</div>
<% end %>-->
