<div class="row">
	<div align="center">
		<div class="panel panel-primary">
			<div class="panel-heading" align="center">
				 
<%= image_tag @pin.image.url(:medium) %>
</div>
			<div class="panel-body">

<p align="center">
  <strong>"<%= @pin.description %>"</strong>
</p>



<% if @pin.user == current_user %>
<%= link_to edit_pin_path(@pin),  class: "btn btn-primary" do %> 
<span class="glyphicon glyphicon-edit"></span>Edit
<% end %>
 |
<% end %>
 <%= link_to pins_path, class: "btn btn-primary" do %>
 <span class="glyphicon glyphicon-arrow-left"></span> Back
 <% end %>
</div>
</div>
</div>
</div>
<div id="comments">
<% @pin.comments.each do |comment| %>
    <div class="comment">
        <%= current_user.name %> - <b>"<%= comment.body %>"</b>
       <span class='actions'> 
        <%= link_to 'Delete', [@pin, comment], :confirm => 'Are 
you sure?', :method => :delete %> 
     
    </div>
<% end %>
<h2>Add a comment</h2>
<%= form_for ([@pin, @pin.comments.build]) do |f| %>
	<div class="field">
		<%= f.label :body %><br />
		<%= f.text_area :body %>
	</div>
	<div class="action">
		<%= f.submit %>
	</div>
<% end %>
